<!DOCTYPE html>
<html>
  <head>
    <title>ichuj</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' media="screen" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.min.css" media="screen" />
<!--    <link rel='stylesheet' href='/public/stylesheets/bootstrap.min.css' media="screen" />
    <link rel="stylesheet" href="/public/stylesheets/bootstrap-responsive.min.css" media="screen" /> -->
  </head>
  <body>
  <div class="container">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    
     <h1>Track your spendings</h1>
Lodżiń
	  <a href="/auth/facebook">zalodżinuj się</a>
</div>
  </body>
</html>
